.header{
	background-color: #006633;
}

body{
	background-color: #8bfdf600;
}


.img-left{
	color: #3e9822;
	font-family: Arial, sans-serif;
}

.boxed {
	box-shadow: 2px 5px;
	border: 5px solid #006633;
	margin: 5px;
}
.img-right{
	position: fixed;
	width: 350px;
	bottom: 0;
	right: 0;
}

